doctype html
html
	head
		title GxServer 0.1
		link(rel="stylesheet/less", type="text/css", href="styles.less")
		script(src="less-1.2.1.min.js", type="text/javascript")
	body
		h1 Hello, #{user}
		div#chatbox
		form
			input#message(type="text")
			button#submit Send
			